/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  background: linear-gradient(
    200.96deg,
    #512afe -29.09%,
    #57dd5e 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 700vh;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}


.css-b7dj7n-MuiList-root {
  margin-top: 30px;
}

.albums {
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  background-color: rgba(43, 43, 44, 0.49);
  margin-top: 20px !important;
}

.tracks {
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  background-color: rgba(43, 43, 44, 0.49);
  margin-top: 20px; /* Espace au-dessus de la liste des titres */
}

.tracks .MuiListItem-root {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px;
}

.tracks .MuiListItemText-root {
  color: white;
}

.tracks img {
  border-radius: 5px;
  margin-right: 10px;
}

.tracks .MuiDivider-root {
  background-color: white;
}

/* Espacer l'image de l'album et le texte */
.MuiListItem-root {
  display: flex;
  align-items: center;
}

.MuiListItemAvatar-root {
  margin-right: 15px; /* Espace entre l'image et le texte */
}

.MuiTypography-root {
  color: white !important; /* Pour ajuster la couleur du Divider si nécessaire */
}

.album {
  display: flex;
  justify-content: left;
  padding: 2%;
  align-items: center;
}

List {
  background-color: white;
}
