.rainbow {
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  background-size: 100% 100%;
  animation: rainbow 5s linear infinite;
  border: none;
  color: white;
  cursor: pointer;
}

button {
  margin-left: 2%;
}
